@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #0613516f;
    position: fixed;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}






/*inicio*/

.inicio{
    background:linear-gradient(90deg, rgb(3, 1, 59), rgb(8, 8, 120)) ;

    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}






.apresentacao{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: flex-start;

}

.p1{
    font-size: 1.2rem;
}

.p2{


   font-size: 1.1rem;
  
    padding: 20px 30px;
}



.p3{

}
.p3::after{
    color: #0701a7;
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes  pisca {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.projetos{
    background-color: rgb(4, 1, 22);
    width: 100%;
    height: 100vh;
}